@{
    ViewBag.Title = "Login";
}
@model AcessoCard.Models.UserMod

@section scripts{
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/App/AutenticacaoController.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
<section ng-app="login" ng-controller="AutenticacaoController">

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(x => x.Email, new { @ng_model = "User.email", @class = "form-control", @placeholder = "Digite seu email", @type = "email", @ng_required = "true" })
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Senha)
            @Html.TextBoxFor(x => x.Senha, new { @ng_model = "User.senha", @class = "form-control", @placeholder = "Digite sua senha", @type = "password", @ng_required = "true" })
            @Html.ValidationMessageFor(x => x.Senha)
        </div>

        <button type="button" id="btnEnviar" class="btn btn-success" ng-click="logar($event)">Enviar</button>
        <button type="button" id="recuperar" class="btn btn-info"> Esqueci minha senha</button>

        <div id="mensagens" ng-bind="mensagem"></div>
    }

</section>