<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>


</head>
<body>
    @{
        var url = Request.Url.ToString();

        if (!(url.Contains("Login") || url.Contains("Recuperar") || url.EndsWith("/") || url.Contains("Login")))
        {
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation">
                    @Html.ActionLink("Vizualizar/Gerenciar Contatos", "Contatos", "App")
                </li>
                <li role="presentation" class="right">
                    @Html.ActionLink("Alterar Senha", "AlterarSenha", "Users")
                </li>
            </ul>
        }
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align: center">
            <p>@DateTime.Now.Year - Erick Wendel Web Developer</p>
            @RenderSection("scripts", false)


        </footer>
    </div>

</body>
</html>